/* Site-wide styles */
main {
  background-color: #eaeaea;
  font-family: 'Open Sans', sans-serif;
}

/* Header styles */
.mdl-color--gray {
  background-color: #84868d !important;
  color: black;
}

.mdl-layout__header-row {
  padding: 0 40px 0 20px !important;
  display: flex;
  justify-content: space-between;
}

header img.header-logo {
  max-height: 4em;
  margin-right: 1em;
}

header .beer-city-food {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: unset !important;
  }
}

@media screen and (max-width: 480px) {
  header img.header-logo {
      max-height: 2em;
      margin-right: 0.5em;
    }

  .beer-city-food span {
    font-size: 18px;
  }

  .mdl-layout__header-row {
    padding: 0 12px 0 12px !important;
  }
}

header a, footer a {
  color: white !important;
}

header a:hover, footer a {
  color: yellow !important;
}

/* Card styles */
.link {
    display: block !important;
    text-align: left !important;
}

.mdl-card {
  border-radius: 15px !important;
  border: 4px solid #289EEE;
}

.mdl-color--gr-blue {
  background-color: #289EEE !important;
  color: white !important;
}

.mdl-card__title-text {
  font-weight: 400 !important;
}

.delivery-options, .hours, .neighborhood, .contact-options {
  margin: 16px 32px;
}

.delivery-option {
  line-height: 32px;
}

.contact-options, .website-link a {
  text-align: center !important;
  line-height: 32px;
}

@media (max-width: 786px) {
  .phone a[href^="tel"] {
    color: #289EEE !important;
  }
}

/* Footer styles */
footer {
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
